name: Run Script

on:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run PowerShell
        shell: pwsh
        env:
          GMAILKEY: ${{ secrets.GMAILKEY }}
        run: |
          ./allotment.ps1
